/* main rules */
*{
    box-sizing: border-box;
}
/* main rules */
/* div style */
.div{
    background: url('../img/cover.jpeg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /* -webkit-filter:blur(3px);
    -moz-filter:blur(3px);
    filter:blur(3px); */
    position: relative;
}
.div .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.div .info-company{
    position: absolute;
    top: 40%;
    left: 25%;
}
.div .info-company h2{
    font-size: 50px;
    color: #FFF;
}
.div .info-company p{
    color: white;
    font-size: 70px;
}
/* div style */
/* navbar */
.bg-nav{
    background:none !important;
}
.bg-nav .navbar-brand{
    color:white;
}
.bg-nav .nav-link{
    color: white !important;
}
/* .bg-light .nav-link:hover{
    background-color: #673AB7;
} */
.bg-nav .active{
    background-color: #673AB7;
}
/* navbar */
/* about us */
.about-us{
    padding: 30px 0;
    background: url('../img/about.jpeg');
    height: 450px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.about-us .about-div{
    position: absolute;
    top: 100px;
    left:100px;
}
.about-us h2{
    color: white;
}
.about-us p{
    line-height: 1.7;
    font-size: 20px;
    color: white;
}
/* about us */
.services{
    padding:30px 0;
    background-color: #EEE;
}
.services .web{
    background-color: #e67e22;
}
.services .networking{
    background-color: #34495e;
}
.services .grapic{
    background-color: #e67e22;
}
.services .ui_design{
    background-color: #34495e;
}
.services .ser-div{
    padding: 10px;
    color: white;
}
.services .ser-div i{
    font-size: 50px;
    margin-bottom: 20px;
}
.services .ser-div h4{
    font-size: 18px;
}

/* services */
/* our works */
.our-work{
    padding: 30px 0;
}
.our-work .work-img{
    max-width: 100%;
}
.our-work .work-img img{
    width:100%;
}
/* contact us */
.contact-us{
    padding: 30px 0;
    background-color: #34495e;
}
.contact-us h2,
.contact-us label{
    color: white;
}
/* contact us */
/* footer */
.footer{
    background-color: black;
    padding: 10px;
    color: #FFF;
}
.footer p{
    font-size: 20px;
    margin-top: 5px;
}
/* footer */
/* register page */
.register-section{
    background-image: url('../img/register.jpeg');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.register-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.register-section h2{
    color: white;
}
.register-section form{
    max-width: 50%;
    margin: 80px auto;
    color: white;
}
/* register message */
.msg-reg{
    position: absolute;
    top: 40%;
    right: 40%;
    background-color: #EEE;
    padding: 20px;
    border-radius: 10px;
}
.msg-reg i{
    display: inline-block;
    font-size: 50px;
    color: green;
}
/* register message */
/* register page */
/* login page */
.login{
    background-image: url('../img/register.jpeg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.login h2{
    color: white;
    margin-top: 50px;

}
.login .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.login form{
    max-width: 50%;
    margin: 80px auto;
}
.login form label{
    color:white;
}
/* login page */
/* profile page */
.profile{
    padding: 30px 0;
}
.profile .profile-div .profile-img img{
    max-width: 200px;
}
/* profile page */

